<div class="btn-toolbar" role="toolbar">
  <div class="btn-group  btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="shownTasks">
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" [value]="0" (click)="getHoaMeetings()"> My Meetings
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" [value]="1" (click)="getPotentialMeetings()"> Potential Meetings
    </label>
  </div>
</div>


<div class="row">
    <div class="col-md-8">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Owner</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody *ngIf="hoaMeetings">
          <tr *ngFor="let hoaMeeting of hoaMeetings" (click)="showDetail(hoaMeeting)">
            <td>{{hoaMeeting.id}}</td>
            <td>{{hoaMeeting.owner}}</td>
            <td>{{hoaMeeting.status}}</td>            
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">New Order</div>
        <div class="card-body" *ngIf="selectedMeeting">
          <dl>
            <dt>ID</dt>
            <dd>{{selectedMeeting.id}}</dd>
            <dt>Status</dt>
            <dd>{{selectedMeeting.status}}</dd>
            <dt>Address</dt>
            <dd>{{selectedMeeting.address}}</dd>
            <dt>Date</dt>
            <dd>{{selectedMeeting.date}}</dd>
            <dt>No Started Reassign</dt>
            <dd>{{selectedMeeting.noStartedReassign}}</dd>
            <dt>Skippable</dt>
            <dd>{{selectedMeeting.skippable}}</dd>
          </dl>
          
          <div class="output-vars" *ngIf="selectedMeeting.status === 'InProgress'">
            <hr>
            <form>
              <fieldset class="form-group">
                <legend class="col-form-label">HOA Approved</legend>
                <div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" name="selectedMeeting.approved" 
                      class="custom-control-input" value="true" [(ngModel)]="selectedMeeting.approved">
                    <label class="custom-control-label" for="customRadioInline1">True</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" name="selectedMeeting.approved" checked
                      class="custom-control-input" value="false" [(ngModel)]="selectedMeeting.approved">
                    <label class="custom-control-label" for="customRadioInline2">False</label>
                  </div>
                </div>               
              </fieldset>
            </form>
          </div>
          <hr>
          <div class="toolbar">
            <button *ngIf="selectedMeeting.status === 'Ready'"
              class="btn btn-primary" (click)="claim()">Claim</button>
            <button *ngIf="selectedMeeting.status === 'InProgress'"
              class="btn btn-primary" (click)="complete()">Complete</button>
          </div>          
        </div>
      </div>
    </div>
    </div>