<div class="btn-toolbar" role="toolbar">
  <div class="btn-group mr-2" role="group">
    <button class="btn btn-info" (click)="showNewOrderForm()">New Order</button>
  </div>

  <div class="btn-group  btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="newOrderStatus">
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" [value]="2"> Completed
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" [value]="1"> In Progress
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" [value]="3"> Aborted
    </label>
  </div>
</div>

<hr>

<div class="new-order-form jumbotron" *ngIf="isNewOrderFormShown">
<form>
  <div class="form-group">
    <label for="address">Address</label>
    <textarea class="form-control" id="address" name="address" 
      rows="3" placeholder="Enter address" [(ngModel)]="newOrder.address"></textarea>
  </div>
  <div class="form-check">
    <input id="condominium" [(ngModel)]="newOrder.condominium" 
      class="form-check-input" type="checkbox" name="condominium">  
    <label for="condominium">For condominium?</label>
  </div>

  <div class="form-group" *ngIf="newOrder.condominium">
      <label for="hoaMeetingDate">HOA Meeting Date</label>
      <div class="input-group">
      <input class="form-control" id="hoaMeetingDate" [(ngModel)]="newOrder.hoaMeetingDate" 
        name="hoaMeetingDate" ngbDatepicker #hoaMeetingDate="ngbDatepicker" 
        readonly placeholder="yyyy-MM-dd" (click)="hoaMeetingDate.toggle()">
      <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="hoaMeetingDate.toggle()" type="button">
            <fa [name]="'calendar'"></fa>           
          </button>
        </div>
      </div>
  </div>
  <button type="button" class="btn btn-info" (click)="submitNewOrder()">Submit</button>
  <button type="reset" class="btn btn-default">Reset</button>
  <button type="button" class="btn btn-default" (click)="cancelNewOrder()">Cancel</button>
</form>

</div>

<div class="row">
<div class="col-md-8">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Initiator</th>
        <th>Start Date</th>
        <th>State</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let newOrder of newOrders" (click)="showDetail(newOrder)">
        <td>{{newOrder.id}}</td>
        <td>{{newOrder.initiator}}</td>
        <td>{{newOrder.startDate}}</td>
        <td>{{newOrder.state}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-md-4">
  <div class="card">
    <div class="card-header">New Order</div>
    <div class="card-body" *ngIf="selectedOrder">
      <dl>
        <dt>ID</dt>
        <dd>{{selectedOrder.id}}</dd>
        <dt>Address</dt>
        <dd>{{selectedOrder.address}}</dd>
        <dt>Condominium</dt>
        <dd>{{selectedOrder.condominum}}</dd>
        <dt *ngIf="selectedOrder.condominum">HOA Meeting Date</dt>
        <dd *ngIf="selectedOrder.condominum">{{selectedOrder.hoaMeetingDate}}</dd>
        <dt *ngIf="selectedOrder.condominum">HOA Approved</dt>
        <dd *ngIf="selectedOrder.condominum">
          <span>{{selectedOrder.hoaApproved}}</span>
        </dd>        
        <dt>Goverment Approved</dt>
        <dd><span>{{selectedOrder.govApproved}}</span></dd>        
        <dt>Approved</dt>
        <dd><span>{{selectedOrder.approved}}</span></dd>        
      </dl>
      <button *ngIf="isInProgress()" class="btn btn-danger" (click)="abort()">Abort</button>
    </div>
  </div>
</div>
</div>